__pycache__/
**/.DS_Store
data/anes/anes_timeseries_cdf.dta
data/scotus_opinions/json/
data/scotus_opinions/scotus_opinions.csv
data/tf-idf/scotus_opinion/tfidf_matrix.npz
cnn_model/assets/
cnn_model/variables/
cnn_model/variables/variables.data-00000-of-00001
cnn_model/variables/variables.index
