__pycache__/
.DS_Store
data/.DS_Store
data/anes/.DS_Store
data/anes/codebook/anes_timeseries_cdf_codebook_app.txt
data/anes/codebook/anes_timeseries_cdf_codebook_int.txt
data/anes/codebook/anes_timeseries_cdf_codebook_var.txt
data/anes/anes_timeseries_cdf.dta
data/scdb/sc_issues.csv
data/scdb/sc_issues.txt
data/scdb/scdb_case_data.csv
data/scdb/scdb_justice_data.csv
data/scdb/scdb_legacy_case_data.csv
data/scdb/scdb_legacy_justice_data.csv
data/scotus_opinions/json/
data/scotus_opinions/scotus_opinions.csv
data/tf-idf/public_opinion/tfidf_cols.csv
data/tf-idf/public_opinion/tfidf_rows.csv
data/tf-idf/public_opinion/tfidf_matrix.npz
data/tf-idf/scotus_opinion/tfidf_cols.csv
data/tf-idf/scotus_opinion/tfidf_rows.csv
data/tf-idf/scotus_opinion/tfidf_matrix.npz
cnn_model/assets/
cnn_model/variables/
